@media screen and (max-width: 2500px) {
body{
    margin: 0px;
    background-color: #E8EEF2;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #37393A;
}

header h1 {
    font-family: "Fredoka", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E8EEF2;
    margin: 0px auto;
    padding: 20px;
    background-color: #77B6EA;
    font-weight: 500;
    font-size: 2rem;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #37393A;
    width: 100vw;
    padding: 10px 25px 10px 25px;
    color: #E8EEF2;
}

nav a {
    text-decoration: none;
    color: #E8EEF2;
    font-size: 1.7rem;
}

nav a:hover{
    color: #D6C9C9;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 40px;
    padding: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    border: 2px solid #C7D3DD;
    border-radius: 25px;
    align-items: center;
    width: 100%;
    /* justify-content: center; */
}

.card h2{
    background-color: #77B6EA;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    border-radius: 25px 25px 0px 0px;
    font-size: 1.7rem;
}

.about-me-wrapper{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 30px;
    align-items: center;
    
}

.about-me-wrapper p{
    font-size: 1.5rem;
    font-weight: 400;
}

.about-me-wrapper img{
    width: 350px;
    justify-self: center;

}

.card h3 {
    width: 80%;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid #C7D3DD;
    font-size: 1.3rem;
}

.city-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 30px;
    align-items: center;
}

.city-wrapper p{
    font-size: 1.5rem;
    font-weight: 400;
}

.city-wrapper img{
    width: 400px;
}

.card a{
    text-decoration: none;
    color: #37393A;
    font-weight: 400;
    font-size: 1.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #d6c9c9;
    padding: 15px 15px 15px 15px;
}

p{
    margin: 0px;

}

.copyright-wrapper{
    font-size: 1.5rem;
}
}